canvas{

    background-image: url("95F7C076-0E51-4FA5-B34B-F2CB7DF4D454.jpeg");
    background-size: cover;
    border-width: 10px;
    border-style: ridge;
    border-color: lightskyblue;

}